# Ignore vendor directory
/vendor/

# Optional: ignore Composer artifacts
#  composer.lock //comment out for debuging

# Node modules (if any)
node_modules/

# IDE/editor files
.vscode/
*.log

# Backend vendor and tmp (ignore installed dependencies and temporary files)
/backend/vendor/
/backend/tmp/
